<div>
  <br>2022, Горшкова Алёна, <a href="https://github.com/Alyona-GS" target="_blank">TestGuru</a>

  <br>Создание и прохождение различных тестов

  <br><a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</div>