<h1>Об авторе</h1>

<p>Привет! Меня зовут Горшкова Алёна. Я интересуюсь Ruby, а также немного мобильной разработкой и Python. Вот ссылка на мой <a href="https://github.com/Alyona-GS">github</a>. Приятно познакомиться!</p>