<h1>О проекте Test Guru</h1>

<p>Данный сайт представляет собой учебный проект в школе <a href="https://thinknetica.com">Thinknetica</a>. С помощью данного сайта можно будет создавать и проходить различные тесты. </p>